<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.aprilyolies.coupons.mapper.CouponsMapper">
    <!-- 向数据库写入商户信息 -->
    <insert id="saveCoupon" useGeneratedKeys="true" keyProperty="id"
            parameterType="top.aprilyolies.coupons.pojo.Coupon">
        insert into coupons(merchant_id, title, summary, `desc`, `limit`, has_token, background, start, end) values (#{merchantId}, #{title}, #{summary}, #{desc}, #{limit}, #{hasToken}, #{background}, #{start}, #{end})
    </insert>

    <!-- 根据 name 查询商户信息 -->
    <!--    <select id="findByName" resultType="top.aprilyolies.merchant.pojo.MerchantInfo" parameterType="string">-->
    <!--        select id, name, logo_url as logoUrl, business_license_url as businessLicenseUrl, phone, address-->
    <!--        from merchants-->
    <!--        where name = #{name}-->
    <!--    </select>-->
</mapper>